
nav {
    background-color: #fda50f;
    color: #000000;
    text-align: left;
    font-family: verdana;
    font-size: 20px;
    border-style: solid; 
    padding-top: 20px;
    padding-right:100px;
    padding-bottom: 20px; 
    padding-left:20px;
    border-width: 1px; 
    width:50%;
    margin-top: 0px; 
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: -10px;

}

h1, h2 {
    color: #000000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #ffffff;
    text-align: center;
    padding-top: 20px;
    padding-right:100px;
    padding-bottom: 20px; 
    padding-left:20px;
    border-style: solid; 
    border-width: 1px; 
    width: 50%;
    margin-top: -10px; 
    margin-right: 0px;
    margin-bottom: 5px;
    margin-left: -10px;
}

div {
    color: #000000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #fda50f;
    text-align: center;
    padding-top: 20px;
    padding-right:100px;
    padding-bottom: 20px; 
    padding-left:20px;
    border-style: solid; 
    border-width: 1px; 
    width: 50%;
    margin-top: -10px; 
    margin-right: 0px;
    margin-bottom: 5px;
    margin-left: -10px;
}

form {
    padding: 5px;
}

div {
    text-align: left;
}