<h2>{{username}}'s Channels</h2>

<div id="channel-list">
<ul></ul>
</div>

<div>
    <input [(ngModel)]="message" />
    <button (click)="sendMessage()">Send</button>
    <div class="messages">
        <div *ngFor="let message of messages" class="message">
            {{message.text}}
        </div>
    </div>
</div>

<div>
<h3>Create New Channel</h3>
<form (submit)="createGroup($event)">
     <input type="text" placeholder="Group Name" [(ngModel)]='groupname' name="groupname" id="groupname">
     <input type="text" placeholder="Channel Name" [(ngModel)]='channelname' name="channelname" id="channelname">
     <button type="submit">Submit</button>
</form>
</div>
<div id="channel-display">

</div>